@font-face {
    font-family: 'iconfont';
    /* Project id 3356869 */
    src: url('//at.alicdn.com/t/font_3356869_6nhzswgsw2s.woff2?t=1651064375167') format('woff2'), url('//at.alicdn.com/t/font_3356869_6nhzswgsw2s.woff?t=1651064375167') format('woff'), url('//at.alicdn.com/t/font_3356869_6nhzswgsw2s.ttf?t=1651064375167') format('truetype');
}

.iconfont {
    font-family: 'iconfont' !important;
    font-size: 0.16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}